*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  input, button {
    padding: 10px;
    font-size: 16px;
  }
  
  #acesso {
    margin-top: 20px;
    font-size: 20px;
  }